# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
.output
.nitro
.vinxi
.wrangler
.tanstack
__unconfig*

# Environment
.env
.env.*
!.env.example

# Cache
.cache
*.local
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
todos.json
